.header {
  display: flex;
  justify-content: right;
}

.counter {
  display: inline;
  border-radius: 100px;
  background: rgb(140, 194, 251);
  color: white;
  padding: 5px 15px;
}

.title {
  color: rgb(140, 194, 251);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product {
  cursor: pointer;
  border: solid 20px white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: rgb(140, 194, 251);
  color: white;
  flex-direction: column;
}

.image {
  height: 60%;
  width: 90%;
}

.image-src {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 20px 0px 0px 0px;
}

.product-description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.selected .product {
  border-color: darkslateblue;
}

@media (min-width: 800px) {
  .container-mobile {
    flex-direction: row;
  }
}
